pkgbase = smlnj
	pkgdesc = Standard ML of New Jersey compiler and libraries
	pkgver = 110.82
	pkgrel = 1
	url = https://www.smlnj.org
	arch = x86_64
	license = custom
	makedepends = lib32-gcc-libs
	depends = lib32-glibc
	noextract = boot.x86-unix-110.82.tgz
	noextract = cm-110.82.tgz
	noextract = compiler-110.82.tgz
	noextract = runtime-110.82.tgz
	noextract = system-110.82.tgz
	noextract = MLRISC-110.82.tgz
	noextract = smlnj-lib-110.82.tgz
	noextract = old-basis-110.82.tgz
	noextract = ckit-110.82.tgz
	noextract = nlffi-110.82.tgz
	noextract = cml-110.82.tgz
	noextract = eXene-110.82.tgz
	noextract = ml-lpt-110.82.tgz
	noextract = ml-lex-110.82.tgz
	noextract = ml-yacc-110.82.tgz
	noextract = ml-burg-110.82.tgz
	noextract = pgraph-110.82.tgz
	noextract = trace-debug-profile-110.82.tgz
	noextract = heap2asm-110.82.tgz
	noextract = smlnj-c-110.82.tgz
	noextract = doc-110.82.tgz
	source = LICENSE
	source = boot.x86-unix-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//boot.x86-unix.tgz
	source = config-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//config.tgz
	source = cm-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//cm.tgz
	source = compiler-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//compiler.tgz
	source = runtime-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//runtime.tgz
	source = system-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//system.tgz
	source = MLRISC-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//MLRISC.tgz
	source = smlnj-lib-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//smlnj-lib.tgz
	source = old-basis-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//old-basis.tgz
	source = ckit-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//ckit.tgz
	source = nlffi-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//nlffi.tgz
	source = cml-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//cml.tgz
	source = eXene-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//eXene.tgz
	source = ml-lpt-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//ml-lpt.tgz
	source = ml-lex-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//ml-lex.tgz
	source = ml-yacc-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//ml-yacc.tgz
	source = ml-burg-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//ml-burg.tgz
	source = pgraph-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//pgraph.tgz
	source = trace-debug-profile-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//trace-debug-profile.tgz
	source = heap2asm-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//heap2asm.tgz
	source = smlnj-c-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//smlnj-c.tgz
	source = doc-110.82.tgz::http://smlnj.cs.uchicago.edu/dist/working/110.82//doc.tgz
	md5sums = fdd45f0ec2fa0006357baece04d7e0d0
	md5sums = dc5c8510481b68f57d378ceff2e74cdc
	md5sums = adeea40c1b9afdb1d58daca29f835141
	md5sums = e356d5398eb7aa01d0dc21ec63337311
	md5sums = 17295ddfbab3280ac971db5983fe61f0
	md5sums = 983e31b9284c89e9cd0b5dfab6e6729c
	md5sums = 314468cf57feba89ccc1ca9c33b72b45
	md5sums = 8e0a0b056f20446a7c8326ef5c84323d
	md5sums = ac339808917e2fd1756b4f38ce7f9afb
	md5sums = dd1533f05805a3fe5f8d7d9f672d186c
	md5sums = 234387df3d86b3f5d63b3344caa0cae6
	md5sums = 97c3fc8f31f6b0e7af9cbd60bdff06e4
	md5sums = 047e1665dcc7f7bf2396a1647ceceac9
	md5sums = 9d71cf2723f989cb8a32e50f1eb4ea51
	md5sums = 0083d3ba51ce4c1c126a9df02116a468
	md5sums = c563f1890867f2a2daf677e83b30653f
	md5sums = e6eab43e7b6c57cbeddeb2ddfc3e8c03
	md5sums = 11d83ed2d1857d63b6818c0368a5280c
	md5sums = 0c05be23dadfa27315a103401fe79544
	md5sums = 4aad83751116abf4f8f27a6a9617018b
	md5sums = 0fe17e3209a398811377a3836721bb0a
	md5sums = 3a66a72c756691054a3e986dc1736af9
	md5sums = 0f8f0bd3f6f9e91fdd5ba923b33e79ec

pkgname = smlnj

